{
  "printWidth": 88,
  "overrides": [
    {
      "files": [
        "*.js",
        "*.cjs",
        "*.svelte"
      ],
      "options": {
        "singleQuote": true,
        "semi": false
      }
    }
  ]
}
