:root {
  --shade0: #ccc;
  --shade1: #666;
  --shade2: #333;
  --max-width: 1024px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  background-color: var(--shade2);
  color: var(--shade0);
}

a {
  color: inherit;
  font-weight: bold;
}

body {
  font-family: sans-serif;
  max-width: var(--max-width);
  padding: 1em 0;
  margin: 0 auto;
  box-shadow: 0 0 1em var(--shade1);
  min-height: 100vh;
}

body > * {
  max-width: calc(100% - 4em);
  margin: 1em auto;
}

body > aside a {
  text-decoration: none;
}

body > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  outline: 1px solid var(--shade1);
  padding: 1em;
}

body > section header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--shade1);
  margin-bottom: 1em;
}

.page-links {
  line-height: 1.44;
}

.box {
  outline: 1px solid var(--shade1);
  padding: 1em;
  min-width: 49%;
}

.box.middle {
  margin: 0 auto;
  width: 50%;
}

.box.wide {
  width: 100%;
}
