.lz-chat input {
  padding: 0.5em;
}

.lz-chat form.login {
  padding: 2rem 0;
}

.lz-chat form.login input {
  display: block;
  margin: 0 auto;
}

.lz-chat form.message input {
  width: 100%;
}

.lz-chat .chat-box {
  height: 20em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.lz-chat .chat-box .message {
  padding: 1.5em 0.5em 0.5em;
  background: var(--shade1);
  border-radius: 0.5em;
  align-self: flex-start;
  position: relative;
}

.lz-chat .chat-box .message[data-self="true"] {
  background: var(--shade0);
  align-self: flex-end;
  color: var(--shade2);
}

.lz-chat .chat-box .message:before {
  content: attr(data-user);
  font-weight: bold;
  position: absolute;
  top: 0.5em;
  font-size: 0.66em;
  text-transform: uppercase;
}

.lz-chat .chat-box .message + .message {
  margin-top: 0.5em;
}
