.lz-input, .lz-result {
  text-align: center;
}

.lz-input span {
  display: inline-block;
  width: 4em;
  font-family: monospace;
  font-size: 1.5em;
  border-bottom: 2px solid var(--shade1);
  padding: .25em;
}

.lz-input span:focus,
.lz-data details summary:focus {
  outline: none;
}

.lz-data details {
  padding: 0.5em;
  border: 1px solid var(--shade1);
}

.lz-data details pre {
  max-height: 32em;
  overflow: scroll;

}

.lz-data.wrap details pre {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}
